<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">



    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="navbarExpand">
          <%= link_to("mo shíorghrá", root_path(anchor: "top"), class: "navbar-brand") =%>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to("Performance", root_path(anchor: "performance"), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to("Info", root_path(anchor: "schedule"), class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to("Contributors", workers_path, class: "nav-link" ) %>
              </li>
              <li class="nav-item">
                <%= link_to("Sponsors", sponsors_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <a href="https://www.facebook.com/2018.CSIE.night/" class="nav-link">Facebook</a>
              </li>

            </ul>
           
              <%= form_tag search_path,:class => "form-inline mt-2 mt-md-0", method: :get do %>
             
                <%= text_field_tag :name, params[:name], placeholder: "輸入姓名",:class => "form-control mr-sm-2 search" %>
                <%= submit_tag "Search", name: nil, :class => " btn-outline-success search-btn my-2 my-sm-0" %>
              
              <% end %>
            
          </div>
        </nav>
 

    <!-- Begin page content -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
