<!DOCTYPE html>
<html>
  <head>
    <title>mo shíorghrá - Night of CSIE</title>
    <meta property="og:title" content="2018資訊之夜" />
    <meta property="og:image" content="img/cover.jpg" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/cover-small.ico">
  </head>

  <body>
    <%= render "partials/navbar" %>
    <%= yield %>
  </body>
  <%= render "partials/footer" %>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/smooth-scrolling.js"></script>
  <script src="js/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      var trigger = new ScrollTrigger();
    });
    $('body').bind('touchstart',function(){});
    (function ($) {
      $(function () {
        $('.evt_scroll-section').scrollIndicatorBullets({
          titleSelector: 'h1,h2,h3'
        });
      });
    })(jQuery);
  </script>
</html>
    
